/*
 * Copyright 2012 Alexander Orlov <alexander.orlov@loxal.net>. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

#header {
    height: 6em;
}

#sponsor {
    float: right;
}

#logo {
    float: left;
}

#meta-ctrl {
    float: right;
    padding-right: 1em;
}

#sidebar {
    float: left;
    padding-top: 1.5em;
}

#main {
    background-color: #fff;
    float: right;
    padding: 1em;
    width: 77%;
    min-height: 11em;
}

#footer {
    position: relative;
    font-size: .7em;
    clear: both;
    padding-top: .5em;
}