template EntityContainer(List entities) {
	<table>
		<caption>Container</caption>
		<thead>
			<tr>
				<td>#</td>
				<td>Symbol</td>
				<td>Decimal Notation</td>
			</tr>
		</thead>
		<tbody var="tbodyl">
				<tr>
					<td>${entities}</td>
					<td></td>
					<td></td>
				</tr>
		</tbody>
		<tfoot></tfoot>
	</table>
}