template Pager(var data) {
	<div>
		<table>
		<caption>Caption</caption>
		<thead>
			<tr>
				<td>Number</td>
				<td>Entity</td>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>
			</td>
			<td>
			</td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
			<td>
			</td>
			<td>
			</td>
		</tr>
		</tfoot>
		</table>
		<p>${data}</p>
	</div>
}